
.ctm-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    color: #545454;
    text-shadow: 0 -1px 0 #000000;
    padding: 8px 5px 9px;
    border: 1px solid #000;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #000;
    box-shadow: 0 1px 0 #303030, inset 0 1px 1px rgba(0, 0, 0, 0.7);
    background-image: linear-gradient(bottom, rgba(24, 24, 24, 0.8) 0%, rgba(26, 26, 26, 0.8) 94.73%, rgba(0, 0, 0, 0.8) 100%);
}
.ctm-input::placeholder {
    color: #f00;
}
.ctm-input::-ms-placeholder {
    color: #f00;
}
.ctm-input::-o-placeholder {
    color: #f00;
}
.ctm-input::-webkit-placeholder {
    color: #f00;
}
.ctm-input::-moz-placeholder {
    color: #f00;
}
.ctm-input:focus::placeholder {
    color: transparent;
}
.ctm-input:focus::-ms-placeholder {
    color: transparent;
}
.ctm-input:focus::-o-placeholder {
    color: transparent;
}
.ctm-input:focus::-webkit-placeholder {
    color: transparent;
}
.ctm-input:focus::-moz-placeholder {
    color: transparent;
}
.ctm-input:focus {
    -webkit-animation: glow 800ms ease-out infinite alternate;
    -moz-animation: glow 800ms ease-out infinite alternate;
    -o-animation: glow 800ms ease-out infinite alternate;
    -ms-animation: glow 800ms ease-out infinite alternate;
    animation: glow 800ms ease-out infinite alternate;
}


@-webkit-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}